header{
	width: 100vw;
	padding: 3vh;
	text-align: center;
	box-shadow: 0 7px 15px;
    background-color: bisque;
}
nav ul{
	display: inline-block;

	
}
nav ul a{
	padding: 5vh;
	text-decoration: none;
	font-weight: bolder;
	font-size: 2em;
	border-radius: 3px;
	transition: background-color 1s, color 0.5s;
}
nav ul a:hover{
/* 	background-color: gray;
	color: white; */
    box-shadow: 0 7px 15px;

}
main{
	display: flex;
	justify-content: center;
	padding-top: 20vh;
}
aside{
	width: 30vh;
	padding: 10px;
	margin: 2vw;
	border-radius: 5px;
    text-align: center;
}
aside:hover{
/*     background-color: gray;
	color: white; */
    box-shadow: 0 7px 15px;
    background-color: bisque;
}
article p{
	margin: 10px;
	text-indent: 0.25in;
}
.container{
	width: 75vw;
	margin: 2vw;
	padding: 20px;
	text-align: center;
}
.container section{
	margin: 15px;
	padding: 20px;
	text-align: left;
}
.container section:hover{
    box-shadow: 0 7px 15px;
    background-color: bisque;
}
footer{
	width: 100%;
	padding: 5vh;
	text-align: center;
    box-shadow: 0 7px 15px;
    background-color: bisque;
}
footer p{
	font-style: oblique;
	font-size: 150%;
}
.titulo{
    text-align: left;
    font-size: 150%;
}
p{
	color: aqua;
}
