:root{
	--principal: #EE6325;
	--secundario: #FBE824;
	--terciario: #FA961C;
	--textosLight: #3C3C3C;
}

@font-face {
  font-family: "Comfortaa";
  src: url("../fonts/static/Comfortaa-Light.ttf");
}
.masthead {
	position: relative;
	width: 100%;
	height: auto;
	padding: 15rem 0;
	background: url("../img/campfire.png");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
  }
.masthead1{
	width: 100%;
  	padding-right: var(--bs-gutter-x, 0.75rem);
  	padding-left: var(--bs-gutter-x, 0.75rem);
  	margin-right: auto;
  	margin-left: auto;
	padding-right: 1.5rem !important;
  	padding-left: 1.5rem !important;
	display: flex !important;
	height: 100% !important;
	align-items: flex-start !important;
	justify-content: center !important;
	text-align: center !important;
}
.textPrincipal{
	color: var(--principal);
}

.textSecundario{
	color: var(--secundario);
}

.textTerciario{
	color: var(--terciario);
}

header{
	width: 100vw;
	text-align: center;
	background-color: var(--terciario);
	padding: 0;
	width: 100%;
}
nav ul{
	display: inline-block;
}
nav ul a{
	padding: 1vh 2vh;
	text-decoration: none;
	font-weight: bolder;
	font-size: 5vh;
	border-radius: 3px;
	color: white;
	font-family: "Comfortaa";
	/*transition: background-color 1s, color 0.5s;*/
}
nav ul a:hover{
	color: #EE6325;
    /*box-shadow: 0 7px 15px;*/
}
main{
	font-family: "Comfortaa";
	display: flex;
	justify-content: center;
	padding-top: 20vh;
}
aside{
	font-family: "Comfortaa";
	width: 30vh;
	padding: 10px;
	margin: 2vw;
	border-radius: 5px;
    text-align: center;
}
aside:hover{
/*     background-color: gray;
	color: white; */
    box-shadow: 0 7px 15px;
    background-color: var(--terciario);
}
article p{
	margin: 10px;
	text-indent: 0.25in;
}
.container{
	width: 75vw;
	margin: 2vw;
	padding: 20px;
	text-align: center;
}
.container section{
	margin: 15px;
	padding: 20px;
	text-align: left;
}
.container section:hover{
    box-shadow: 0 7px 15px;
    background-color: var(--terciario);
}
footer{
	width: 100%;
	padding: 5vh;
	text-align: center;
    box-shadow: 0 7px 15px;
    background-color: var(--terciario);
}
footer p{
	font-size: 300%;

	font-family: "Comfortaa";
}
.titulo{
    font-size: 300%;
	font-family: "Comfortaa";
}
.circulo{
	border-radius: 70%;
	width: 70px;
	height: 70px;
}
.subtitulo{
	font-family: "Comfortaa";
	font-size: 300%;
	width: 100%;
}

.subtitulo2{
	font-family: "Comfortaa";
	font-size: 200%;
	width: 100%;
}
.animacionTyping{
	overflow: hidden;
    border-right: .15em solid var(--secundario);
    white-space: nowrap;
    width: 0;
	max-width: fit-content;
    animation: 
	typing 4.5s steps(40, end) infinite,
    blink-caret .75s step-end infinite;
}
.subtitulo1{
	background-color: var(--terciario);
	width: fit-content;
}
.circulo{
	position: sticky;
	border-radius: 50%;
	width: 75px;
	height: 75px;
	/*padding: 10px;*/
	background: white;
	border: 3px solid white;
	color: white;
	text-align: center;
	top: 50cm;
}
@keyframes typing {
	from { width: 0 }
	to { width: 100%}
}
@keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: var(--secundario); }
}
.navbar {
	padding-top: 0.8%;
	background-color: var(--terciario);
	overflow: hidden;
  }
  /* Navbar links */
.navbar a {
	float: left;
	display: block;
	font-size: 16px !important;
	color: white;
	text-align: center;
	padding: 14px;
	text-decoration: none;
  }
.content {
	padding: 16px;
  }
  .column {
	float: left;
	width: 33.33%;
  }
  
  /* Clear floats after the columns */
  .row:after {
	content: "";
	display: table;
	clear: both;
  }