:root{
	--fondo: white;
	--letra: black;
	--principal: #EE6325;
	--secundario: #FBE824;
	--terciario: #FA961C;
	--textosLight: #3C3C3C;
}
[tema="light"]{
	--fondo: #3C3C3C;
	--letra: white;
}
@font-face {
  font-family: "ComfortaaLight";
  src: url("../fonts/static/Comfortaa-Light.ttf");
}
@font-face {
  font-family: "Comfortaa";
  src: url("../fonts/static/Comfortaa-SemiBold.ttf");
}
body{
	background-color: var(--fondo);
	margin: 0;
	font-family: Comfortaa;
}
a{
	color: inherit; /* blue colors for links too */
  	text-decoration: inherit; /* no underline */
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a:first-child {display: none;}
  .topnav a.icon {
  	padding-right: 26px !important;
  	padding-top: 20px !important;
    float: right;
    display: block;
  }

  .breadcum{
  	display: none;
  }

  .teammate{
  	width: 90% !important;
  	margin-left:5vh !important;
  }
  .NS img{
  	width: 100% !important;
  }
  div.team-members-list.column16{
  	margin-bottom: 0 !important;
  }
  #switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  nav.contact{
  	display: none;
  }
  .circulo{
  	width: 58px !important;
  	height: 58px !important;
  }
  .al-r{
  	text-align: center !important;
  }
  #textNavBar{
  	font-size: 30px !important;
  }
  p.textPrincipal{
  	margin-top: 20px !important;
  }
  nav ul{
  	margin-block-start: 1vh !important;
  }
  .container{
  	width: 100% !important;
  	margin: 0 !important;
  	padding: 0 !important;
		color: var(--letra);
  }
  h1.textPrincipal{
  	font-size: 45px !important;
  }
  h1.textPrincipal2{
  	font-size: 45px !important;
  }
  #text2{
  	width: 56.25% !important;
  }
  #text3{
    width: 18.75% !important;
  }
  .subtitulo2{
	font-size: 14px !important;
}
.subtitulo{
	font-size: 40px !important;
}
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;

    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
@media screen and (max-width: 1200px) and (min-width: 601px){
	.subtitulo{
		font-size: 40px !important;
	}
	.subtitulo2{
		font-size: 20px !important;
	}
}
.masthead {
	background-color: var(--principal);
	position: relative;
	width: 100%;
	height: auto;
 }
.masthead1{
  	padding-right: var(--bs-gutter-x, 0.75rem);
  	padding-left: var(--bs-gutter-x, 0.75rem);
  	margin-right: auto;
  	margin-left: auto;
	  padding-right: 1.5rem !important;
  	padding-left: 1.5rem !important;
	  display: flex !important;
	  height: 100% !important;
	  align-items: flex-start !important;
	  justify-content: center !important;
	  text-align: center !important;
}
.textPrincipal{
	color: var(--principal);
}
.textPrincipal2{
	color: #FFFFFF;
}

.textSecundario{
	color: var(--secundario);
}

.textTerciario{
	color: var(--terciario);
}

header{
	width: 100vw;
	text-align: center;
	background-color: var(--terciario);
	padding: 0;
	width: 100%;
}
nav ul{
	margin-block-start: 3.5vh;
	/*display: inline-block;*/
}
nav ul a{
	padding: 1vh 2vh;
	text-decoration: none;
	font-weight: bolder;
	font-size: 5vh;
	border-radius: 3px;
	color: var(--letra);
	font-family: "Comfortaa";
	/*transition: background-color 1s, color 0.5s;*/
}
nav ul a:hover{
	color: var(--terciario);
    /*box-shadow: 0 7px 15px;*/
}
main{
	font-family: "Comfortaa";
	display: flex;
	justify-content: center;
	padding-top: 20vh;
	background-color: var(--fondo);
	color: var(--letra);
}
aside{
	font-family: "Comfortaa";
	width: 30vh;
	padding: 10px;
	margin: 2vw;
	border-radius: 5px;
    text-align: center;
}
aside:hover{
/*     background-color: gray;
	color: white; */
    box-shadow: 0 7px 15px;
    background-color: var(--terciario);
}
article p{
	margin: 10px;
	text-indent: 0.25in;
}
.container{
	width: 75vw;
	margin: 2vw;
	padding: 20px;
	text-align: center;
}
.container section{
	margin: 15px;
	padding: 20px;
	text-align: left;
}
.container section:hover{
    box-shadow: 0 7px 15px;
    background-color: var(--terciario);
}
footer{
	color: #fff;
	padding: 15px;
	text-align: center;
  box-shadow: 0 7px 15px;
  background-color: var(--terciario);
  background: url("../img/equis.jpg") !important;
  background-size: cover  !important;
  background-position: center !important;

}
footer p{
	color: #fff;
	margin-block-start: 0;
    margin-block-end: 0;
	font-size: 30px;
	font-family: "Comfortaa";
}
footer a:hover{
	-webkit-text-fill-color: var(--secundario);
}

.enlacesRapidos{
	border-bottom: 1px dashed;

}
.titulo{
    font-size: 300%;
	font-family: "Comfortaa";
}
.circulo{
	border-radius: 70%;
	width: 70px;
	height: 70px;
}
.subtitulo{
	font-family: "Comfortaa";
	font-size: 300%;
	width: 100%;
	color: var(--letra);
}

.subtitulo2{
	font-family: "Comfortaa";
	font-size: 200%;
	width: 100%;
	color: var(--letra);
}
.animacionTyping{
	overflow: hidden;
    border-right: .15em solid var(--secundario);
    white-space: nowrap;
    width: 0;
	max-width: fit-content;
    animation: 
	typing 4.5s steps(40, end) infinite,
    blink-caret .75s step-end infinite;
}
.subtitulo1{
	background-color: var(--terciario);
	width: fit-content;
}
.circulo{
	position: sticky;
	border-radius: 50%;
	width: 75px;
	height: 75px;
	/*padding: 10px;*/
	background: var(--fondo);
	border: 3px solid var(--terciario);
	color: var(--letra);
	text-align: center;
	top: 50cm;
	border-right-style: dashed;
}
@keyframes typing {
	from { width: 0 }
	to { width: 100%}
}
@keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: var(--secundario); }
}
.navbar {
	background-color: var(--fondo);
	overflow: hidden;
  }
  /* Navbar links */
.navbar a {
	float: left;
	display: block;
	font-size: 18px !important;
	/*color: white;*/
	text-align: center;
	padding: 14px;
	text-decoration: none;
  }
.content {
	padding: 16px;
  }

.column1 {
	float: left;
	width: 6.25%;
}

.column2 {
	float: left;
	width: 12.5%;
}
.column3 {
	float: left;
	width: 18.75%;
}
.column4 {
	float: left;
	width: 25%;
}
.column5 {
	float: left;
	width: 31.25%;
}
.column6 {
	float: left;
	width: 37.5%;
}
.column7 {
	float: left;
	width: 43.75%;
}
.column8 {
	float: left;
	width: 50%;
}
.column9 {
	float: left;
	width: 56.25%;
}
.column10 {
	float: left;
	width: 62.5%;
}
.column11 {
	float: left;
	width: 68.75%;
}
.column12 {
	float: left;
	width: 75%;
}
.column13 {
	float: left;
	width: 81.25%;
}
.column14 {
	float: left;
	width: 87.5%;
}
.column15 {
	float: left;
	width: 93.75%;
}
.column16 {
	float: left;
	width: 100%;
}

.al-r{
	text-align: right;
	margin-top: 1vh;
	margin-bottom: 1.5vh;
}
.al-l{
	text-align: left;
	margin-top: 1vh;
	margin-bottom: 1.5vh;
}
  
  /* Clear floats after the columns */
  .row:after {
	content: "";
	display: table;
	clear: both;
  }

 .contact{
 	background: var(--principal);
	background: linear-gradient(90deg, var(--principal) 0%, var(--terciario) 100%);
	color: var(--letra);
 }
.contact a:hover{
	color: var(--secundario);
}


.menu{
	background-color: var(--fondo);
	color: var(--letra);
	z-index: 100;
}

.fixed {
    position:fixed;
    top:0;
    width: 100%;
}
#txtEqDes{
	font-size: 3rem;
	text-align: center;
	color: var(--principal);
}
#navBarMov {
	-webkit-animation: linear 0.2s ease;
	-webkit-animation-name: run;
}
#navBarMov p{
	padding-left: 3vh;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px dashed;
	color: var(--letra);
}
#navBarMov a.del{
	padding-top: 10px;
	padding-left: 3vh;
	padding-bottom: 3vh;
	color: var(--letra);
}

@-webkit-keyframes run {
  0% {
    left: -50%;
  }
  100% {
    left: 0;    
  }
}

a.active{
	color: var(--terciario);
}
p.active2{
	color: var(--secundario) !important;
}

#page-loader {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 1000;
background: var(--fondo) none repeat scroll 0% 0%;
z-index: 99999;
}
#page-loader img {
    display: block;
    position: relative;
    left: 52%;
    top: 45%;
    margin: -75px 0 0 -75px;
}
#page-loader .preloader-interior {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: var(--principal);

 
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
#page-loader .preloader-interior:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: var(--terciario);
 
    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
#page-loader .preloader-interior:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: var(--secundario);

 
    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
@-webkit-keyframes spin {
    0%   { 
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   { 
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

.team-members-list .single-team-member {
    padding: 0px 30px 30px;
    position: relative;
    z-index: 1;
    color: var(--letra);
    border-radius: 7px;
    text-align: center;
    overflow: hidden;
    margin-top: 40px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.team-members-list .single-team-member::before {
    position: absolute;
    background: linear-gradient(150deg, var(--principal) 0%, var(--terciario) 100%);
    left: 0;
    bottom: 0;
    content: "";
    width: 100%;
    height: 75%;
    border-radius: 7px;
    z-index: -1;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.team-members-list .single-team-member .member-img {
    border-radius: 7px;
    width: 210px;
    height: 210px;
    background-color: #eee;
    margin: 0 auto;
    margin-bottom: 20px;
    background-position: center top;
}
.team-members-list .single-team-member .member-bio {
    margin-bottom: 20px;
}
.team-members-list .single-team-member .member-bio h4, .team-members-list .single-team-member .member-bio p {
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.team-members-list .single-team-member .social-profile a {
    display: inline-block;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #84b5eb;
    color: #D1D1D1;
    text-align: center;
    font-size: 15px;
    margin: 0 2px;
}
.member-bio h4{
    margin: 0px;
    font-weight: 700;
    color: #fff;
}
.NS{
	text-align: center;
}

#switch {

    position: fixed;
		bottom: 20px;
		right: 20px;
    width: 60px;
    height: 34px;
    z-index: 999;
  }
  
  #switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:var(--terciario);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color:var(--principal);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--secundario);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--secundario);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .btnBotones{
	  display: inline-block;
  }
  .btn1 {
	align-items: center;
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: .25rem;
	box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
	box-sizing: border-box;
	color: rgba(0, 0, 0, 0.85);
	cursor: pointer;
	display: inline-flex;
	font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 16px;
	font-weight: 600;
	justify-content: center;
	line-height: 1.25;
	margin: 0;
	min-height: 3rem;
	padding: calc(.875rem - 1px) calc(1.5rem - 1px);
	position: relative;
	text-decoration: none;
	transition: all 250ms;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: baseline;
	width: auto;
  }
  .btn1:hover,
  .btn1:focus {
	border-color: rgba(0, 0, 0, 0.15);
	box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
	color: rgba(0, 0, 0, 0.65);
  }
  
  .btn1:hover {
	transform: translateY(-1px);
  }
  
  .btn1:active {
	background-color: #F0F0F1;
	border-color: rgba(0, 0, 0, 0.15);
	box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
	color: rgba(0, 0, 0, 0.65);
	transform: translateY(0);
  }
.button-33 {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.button-48 {
  appearance: none;
  background-color: #FFFFFF;
  border-width: 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Clarkson,Helvetica,sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 1.5em 2.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-48:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: #EBEBEB;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}

.button-48:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-48:after {
  background-color: #FFFFFF;
}

.button-48 span {
  z-index: 1;
  position: relative;
}

.center {
	position: relative;
	padding: 50px 50px;
	background: var(--fondo);
	border-radius: 10px;
  }
  .center h1 {
	font-size: 2em;
	border-left: 5px solid var(--principal);
	padding: 10px;
	color: var(--letra);
	letter-spacing: 5px;
	margin-bottom: 60px;
	font-weight: bold;
	padding-left: 10px;
  }
  .center .inputbox {
	position: relative;
	width: 300px;
	height: 50px;
	margin-bottom: 50px;
  }
  .center .inputbox input {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	border: 2px solid var(--letra);
	outline: none;
	background: none;
	padding: 10px;
	border-radius: 10px;
	font-size: 1.2em;
  }
  .center .inputbox:last-child {
	margin-bottom: 0;
  }
  .center .inputbox span {
	position: absolute;
	top: 14px;
	left: 20px;
	font-size: 1em;
	transition: 0.6s;
	font-family: sans-serif;
  }
  .center .inputbox input:focus ~ span,
  .center .inputbox input:valid ~ span {
	transform: translateX(-13px) translateY(-35px);
	font-size: 1em;
  }
  .center .inputbox [type="button"] {
	width: 50%;
	background: dodgerblue;
	color: var(--letra);
	border: var(--fondo);
  }
  .center .inputbox:hover [type="button"] {
	background: linear-gradient(45deg, greenyellow, dodgerblue);
  }
  
  a > i{
  	color: #fff;
  } 


.icon i{
	color: var(--principal);
}